<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cover Flow Layout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA36E0071BEBD718004F3F9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA36E0201BEBD718004F3F9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA36E02B1BEBD718004F3F9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
